<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="bottomscripts">
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
        <script src="js/webSocketConnectionForTickers.js"></script>
        <script src="js/webSocketConnectionForCandles.js"></script>
        <script src="js/bitfinexCandleProvider.js"></script>
        <script src="js/bitfinexTickerProvider.js"></script>
    </div>
</html>
